@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  z-index: -100;
  font-family: "Roboto";
}

.overlay {
  display: block;
  z-index: -99;
  position: fixed;
  height: 100vh;
  max-width: 1920px;
}

.overlay > img {
  -o-object-fit: fill;
     object-fit: fill;
  min-height: 100vh;
  width: 1100px;
  transform: scale(1);
}
@media (min-width: 600px) {
  .overlay > img {
    width: 1400px;
  }
}
@media (min-width: 900px) {
  .overlay > img {
    width: 1500px;
  }
}
@media (min-width: 1200px) {
  .overlay > img {
    width: 1920px;
    transform: translate(0px, -100px);
  }
}

.main-header {
  color: white;
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
}
@media (min-width: 600px) {
  .main-header {
    padding: 1em 3em;
  }
}
.main-header h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-nav-component {
  color: white;
  position: fixed;
  right: 0;
  width: 250px;
  height: 100vh;
  background: rgb(12, 12, 19);
  transition: transform 300ms ease-in;
  z-index: 10;
}

.nav-bar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

.nav-bar-content ul {
  list-style: none;
}
.nav-bar-content ul li {
  padding: 15px 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  transition: color 300ms ease-in-out;
}
.nav-bar-content ul li a {
  text-decoration: none;
}
.nav-bar-content ul li:hover {
  color: rgb(91, 104, 218);
}

.nav-btn-container {
  display: flex;
  position: fixed;
  align-items: center;
  background-color: black;
  padding: 10px;
  right: 30px;
  gap: 1em;
  z-index: 1;
  cursor: pointer;
}
.nav-btn-container h4 {
  transition: color 300ms ease-in-out;
}

.nav-btn-container:hover h4 {
  color: rgb(91, 104, 218);
}

.nav-btn-container:hover .nav-burger {
  transform: scale(1.1);
}

.nav-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 25px;
  transition: transform 300ms ease-in-out;
}
.nav-burger .nav-bar-design {
  width: 100%;
  height: 2px;
  background: white;
}

.nav-bar-head {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1em;
}
.nav-bar-head .exit-nav-design {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  transition: transform 100ms ease-in;
}
.nav-bar-head .exit-nav-design:hover {
  transform: scale(1.05);
}
.nav-bar-head .nav-bar-design {
  position: absolute;
  bottom: 8px;
  width: 100%;
  height: 2px;
  background: white;
}
.nav-bar-head .nav-bar-design:nth-child(1) {
  transform: rotate(50deg);
}
.nav-bar-head .nav-bar-design:nth-child(2) {
  transform: rotate(-50deg);
}

.shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -98;
}

section {
  z-index: 1;
}

.hero {
  color: white;
  height: 100vh;
}
.hero .hero-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.hero .hero-content-box .text-box {
  max-width: 950px;
}

.hero-content-box .text-box {
  text-align: center;
}
.hero-content-box .text-box h1 {
  font-size: 52px;
  font-weight: 400;
}
.hero-content-box .text-box p {
  font-size: 17px;
  font-weight: 300;
}
@media (min-width: 600px) {
  .hero-content-box .text-box {
    text-align: start;
    padding-left: 2em;
  }
  .hero-content-box .text-box h1 {
    font-size: 64px;
  }
  .hero-content-box .text-box p {
    font-size: 19px;
    inline-size: 580px;
  }
}
@media (min-width: 1200px) {
  .hero-content-box .text-box {
    padding-left: 4em;
  }
  .hero-content-box .text-box h1 {
    font-size: 78px;
  }
  .hero-content-box .text-box p {
    font-size: 25px;
    inline-size: 750px;
  }
}
@media (min-width: 1500px) {
  .hero-content-box .text-box {
    padding-left: 10em;
  }
  .hero-content-box .text-box h1 {
    font-size: 98px;
  }
  .hero-content-box .text-box p {
    font-size: 25px;
    inline-size: 950px;
  }
}

.about {
  background: rgb(245, 241, 223);
  height: auto;
}
.about .about-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: white;
  background: rgb(91, 104, 218);
}
@media (min-width: 600px) {
  .about .about-box {
    padding: 3em;
  }
}
@media (min-width: 1200px) {
  .about .about-box {
    padding: 10em;
  }
}
.about .about-box .about-text-head, .about .about-box .about-text-body {
  max-width: 1050px;
}
.about .about-box .about-text-head {
  position: relative;
  text-align: center;
  height: auto;
  padding: 2em 0em;
}
.about .about-box .about-text-head p {
  color: black;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about .about-box .about-text-head h1 {
  font-size: 80px;
}
.about .about-box .about-text-head:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.856);
}
.about .about-box .about-text-body {
  text-align: center;
  font-size: clamp(1.25rem, 0.4688rem + 2.5vw, 1.875rem);
}
.about .about-box .about-text-body p {
  color: black;
  font-weight: 300;
  padding: 10px;
}
.about .goals-history {
  position: relative;
  padding-top: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1500px;
  height: 100%;
  gap: 1em;
}
@media (min-width: 900px) {
  .about .goals-history {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .about .goals-history {
    gap: 10em;
  }
}
.about .goals-history:before {
  content: "";
  position: absolute;
  top: 30px;
  height: 3px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.856);
}
.about .goals-history .box {
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  padding: 1em;
  text-align: center;
}
@media (min-width: 1200px) {
  .about .goals-history .box {
    text-align: start;
  }
}
.about .goals-history .box h2 {
  font-size: 35px;
  padding-bottom: 10px;
}
.about .goals-history .box p {
  color: black;
  line-height: 25px;
}

.store {
  background: rgb(254, 255, 240);
  height: 100%;
}
.store .store-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
  padding: 4em;
  text-align: center;
  background: black;
  color: white;
  text-transform: uppercase;
}
.store .store-header h2 {
  padding-bottom: 5px;
  border-bottom: 2px dotted white;
}
@media (min-width: 900px) {
  .store .store-header {
    padding: 10em;
  }
}
.store .store-item-container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(1, 300px);
  grid-template-rows: repeat(2, 450px);
  position: relative;
  top: -20px;
}
@media (min-width: 350px) {
  .store .store-item-container {
    grid-template-columns: repeat(1, minmax(320px, 350px));
    grid-template-rows: repeat(2, 450px);
  }
}
@media (min-width: 650px) {
  .store .store-item-container {
    top: -30px;
    padding: 0em;
    grid-template-columns: repeat(2, 320px);
    grid-template-rows: repeat(2, 450px);
  }
}
@media (min-width: 900px) {
  .store .store-item-container {
    top: -100px;
    grid-template-columns: repeat(2, 420px);
    grid-template-rows: repeat(2, 550px);
    padding: 1em;
  }
}
.store .product-item {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  transition: box-shadow 200ms ease-in, transform 200ms ease-in-out;
}
.store .product-item:hover {
  z-index: 5;
  transform: scale(1.005);
  box-shadow: 0px 0px 5px 5px rgba(39, 48, 126, 0.26);
}
.store .product-item .store-description {
  position: absolute;
  bottom: 2em;
  padding: 1em;
  color: white;
  background-color: black;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 5;
}
.store .product-item img {
  width: 100%;
  height: auto;
}

.contact {
  position: relative;
  min-height: 50vh;
  color: white;
}
.contact img {
  position: absolute;
  z-index: -999;
  width: 1100px;
  transform: translate(-150px, -100px);
  opacity: 0.3;
}
@media (min-width: 600px) {
  .contact img {
    width: 1400px;
    transform: translate(0px, 0px);
  }
}
@media (min-width: 900px) {
  .contact img {
    width: 1500px;
  }
}
@media (min-width: 1200px) {
  .contact img {
    width: 1920px;
    transform: translate(0px, -100px);
  }
}
.contact .background-cover {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -997;
}

.contact-head {
  text-align: center;
  padding: 3em 0em;
}
.contact-head h3 {
  font-size: 40px;
}
.contact-head p {
  font-size: 25px;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-info-container .contact-flex {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 2em;
}
@media (min-width: 728px) {
  .contact-info-container .contact-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 728px) {
  .contact-info-container .contact-flex {
    width: 100%;
    align-items: center;
  }
}
@media (min-width: 728px) {
  .contact-info-container .contact-info-box {
    width: 200px;
  }
}
.contact-info-container .contact-info-box h3 {
  position: relative;
  font-size: 23px;
  text-align: center;
}
@media (min-width: 728px) {
  .contact-info-container .contact-info-box h3 {
    text-align: left;
  }
}
.contact-info-container .contact-info-box h3::after {
  content: "";
  width: 100%;
  height: 2px;
  background: rgb(78, 92, 218);
  position: absolute;
  bottom: -13px;
  left: 0;
}
.contact-info-container .contact-info-box ul {
  margin-top: 1em;
}
.contact-info-container .contact-info-box ul li {
  padding: 10px 1em;
  list-style-type: none;
}
@media (min-width: 728px) {
  .contact-info-container .contact-info-box ul li {
    padding: 10px 0em;
  }
}
@media (min-width: 728px) {
  .contact-info-container .contact-info-box {
    height: 200px;
  }
}/*# sourceMappingURL=style.css.map */