@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

@mixin flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display:flex;
  flex-direction: row;
}

@mixin flex-responsive {
  @include flex-column;


  @media(min-width:728px){
    @include flex-row;
    justify-content: space-around;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  position:relative;
  z-index:-100;
  font-family:'Roboto'
}
.overlay {
  display:block;
  z-index:-99;
  position:fixed;
  height:100vh;
  max-width:1920px;
}

.overlay > img {
    object-fit:fill;
    min-height:100vh;
    width:1100px;
    transform:scale(1);

    @media(min-width:600px){
      width:1400px;
    }
    @media(min-width:900px){
      width:1500px;
    }
    @media(min-width:1200px){
      width:1920px;
      transform:translate(0px, -100px);
    }
}

.main-header {
  color:white;
  position:absolute;
  display:flex; 
  width:100%;
  justify-content:space-between;
  align-items: center;
  padding:1em 1em;

  @media(min-width:600px){
    padding:1em 3em;
  }

  
  h4 {
    text-transform:uppercase;
    letter-spacing:1px;
  }
}

.main-nav-component {
  color:white;
  position:fixed;
  right:0;

  width:250px;
  height:100vh;

  background:rgb(12, 12, 19);
 
  transition: transform 300ms ease-in;
  z-index:10;
}

.nav-bar-content {
  display:flex;
  flex-direction: column;
  justify-content: center;

  height:80%;
}

.nav-bar-content {
  
  ul {
    list-style: none;;
    
    li {
      padding:15px 10px;
      font-size:20px;
      cursor:pointer;
      color:white;
      
      transition:color 300ms ease-in-out;
      a {
        text-decoration: none;
      }
    }

    li:hover {
      color:rgb(91, 104, 218);
    }
  }

}

.nav-btn-container {
  display:flex;
  position:fixed;
  align-items: center;
  background-color:black;
  padding:10px;
  right:30px;
  gap:1em;
  z-index:1;
  cursor:pointer;

  h4 {
    transition: color 300ms ease-in-out;
  }
}

.nav-btn-container:hover h4 {
  color: rgb(91, 104, 218);
}

.nav-btn-container:hover .nav-burger{
  transform:scale(1.1);
}

.nav-burger {
  display:flex;
  flex-direction: column;
  justify-content: space-around;

  width:25px;
  height:25px;

  transition: transform 300ms ease-in-out;

  .nav-bar-design {
    width:100%;
    height:2px;

    background:white;
  }
}

.nav-bar-head {
  display:flex;
  align-items: center;
  justify-content:end;
  padding:1em;

  .exit-nav-design {
    display:flex;
    position:relative;
    cursor:pointer;

    
    width:25px;
    height:25px;

    transition: transform 100ms ease-in;

    &:hover {
      transform:scale(1.05)
    }
  }

  .nav-bar-design {
    position:absolute;
    bottom:8px;

    width:100%;
    height:2px;

  
    background:white;
    &:nth-child(1){
      transform:rotate(50deg)
    }
    &:nth-child(2){
      transform:rotate(-50deg)
    }
  }


}

.shadow {
  position:fixed;
  width:100%;
  height:100%;

  background-color:black;
  opacity:.6;

  z-index:-98;
}

section {
  z-index:1;
}

.hero {
  color:white;
  height:100vh;

  .hero-content-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;

    .text-box {
      max-width:950px;
    }
  }
}

.hero-content-box {
  .text-box {
    text-align: center;
    h1 {
      font-size:52px;
      font-weight:400;
    }
    p {
      font-size:17px;
      font-weight:300;
    }

    @media(min-width:600px){
      text-align: start;
      padding-left:2em;
      h1 {
        font-size:64px;
      }
      p {
        font-size:19px;
        inline-size: 580px;
      }
    }
    @media(min-width:1200px){
      padding-left:4em;
      h1 {
        font-size:78px;
      }
      p {
        font-size:25px;
        inline-size: 750px;
      }
    }
    @media(min-width:1500px){
      padding-left:10em;
      h1 {
        font-size:98px;
      }
      p {
        font-size:25px;
        inline-size: 950px;
      }
    }
  }
}


.about {
  background:rgb(245, 241, 223);
  height:auto;



  .about-box {
    display:flex;
    flex-direction: column;
    align-items: center;



    height:100%;
    color:white;
    background:rgb(91, 104, 218);

    @media(min-width:600px){
      padding:3em;
    }

    @media(min-width:1200px){
      padding:10em;
    }

    .about-text-head, .about-text-body {
      max-width:1050px;
    }


    .about-text-head {
      position:relative;

      text-align: center;
      height:auto;
      padding:2em 0em;

      
      p {

        color:black;
        font-weight:700;
        font-size:30px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      h1 {
        font-size:80px;
      }

      &:before {
        content:'';
        position:absolute;
        bottom:30px;
        left:0;

        height:3px;
        width:100%;

        background-color:rgba(255, 255, 255, 0.856);
      }
      
    }

    .about-text-body {
      text-align: center;
      font-size: clamp(1.25rem, 0.4688rem + 2.5vw, 1.875rem);
 
      p {
        color:black;
        font-weight:300;
        padding:10px;
      }
    }
  }

  .goals-history {
    position:relative;
    padding-top:2em;
    display:flex;
    justify-content: center;
    flex-direction: column;

    @media(min-width:900px){
      flex-direction: row;
    }


    max-width:1500px;
    height:100%;

    gap:1em;

    @media(min-width:1200px){
      gap:10em;
    }

    &:before {
      content:'';
      position:absolute;
      top:30px;


      height:3px;
      width:100%;

      background-color:rgba(255, 255, 255, 0.856);
    }

    .box {
      max-width:400px;
      height:auto;
      border-radius:10px;
      padding:1em;

      text-align: center;

      @media(min-width:1200px){
        text-align: start;
      }


      h2 {
        font-size:35px;
        padding-bottom:10px;
      }

      p {
        color:black;
        line-height:25px;

      }
    }
  }
}



.store {
  background:rgb(254, 255, 240);
  height:100%;
  

  .store-header {
    @include flex-center;
    gap:1em;
    width:100%;

    padding:4em;
    text-align: center;

    background:black;
    color:white;

    text-transform: uppercase;

    h2 {
      padding-bottom:5px;
      border-bottom:2px dotted white;
    }
    
    @media(min-width:900px){
      padding:10em;
    }

  }

  .store-item-container {
    display:grid;
    place-content: center;
    grid-template-columns:repeat(1, 300px);
    grid-template-rows:repeat(2, 450px);
    position:relative;
    top:-20px;
    @media(min-width:350px){
      grid-template-columns:repeat(1, minmax(320px, 350px));
      grid-template-rows:repeat(2, 450px);
    }

    @media(min-width:650px){
      top:-30px;
      padding:0em;
      grid-template-columns:repeat(2, 320px);
      grid-template-rows:repeat(2, 450px);
    }

    @media(min-width:900px){
      top:-100px;
      grid-template-columns:repeat(2, 420px);
      grid-template-rows:repeat(2, 550px);
      padding:1em;

    }

    


  }


  .product-item {
    position:relative;
    overflow:hidden;
    border-radius:3px;
    transition:box-shadow 200ms ease-in, transform 200ms ease-in-out;

    &:hover {
      z-index:5;
      transform:scale(1.005);
      box-shadow:0px 0px 5px 5px rgba(39, 48, 126, 0.26);
    }
    
    .store-description {
      position:absolute;
      bottom:2em;
      padding:1em;
      color:white;

      background-color:black;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;

      z-index:5;
    }


    img {
      width:100%;
      height:auto;
    }
  }
}

.contact {

  position:relative;
  min-height:50vh;

  color:white;

  img {
    position:absolute;
    z-index:-999;
    width:1100px;
    transform:translate(-150px, -100px);
    opacity:0.3;
    
    @media(min-width:600px){
      width:1400px;

      transform:translate(0px, 0px);
    }
    @media(min-width:900px){
      width:1500px;
    }
    @media(min-width:1200px){
      width:1920px;
      transform:translate(0px, -100px);
    }
  }

  .background-cover {
    position: absolute;
    background-color:black;
    width:100%;
    height:100%;
    overflow:hidden;


    z-index:-997;
  }

}

.contact-head {
  text-align: center;

  h3 {
    font-size:40px;
  }

  p {
    font-size:25px;
  }

  padding:3em 0em;
}



.contact-info-container {
  @include flex-column;
  align-items: center;


.contact-flex {
  @include flex-responsive;

  padding:2em;


  gap:2em;

  @media(min-width:728px){
    width:100%;
    align-items:center;
  }
}

  .contact-info-box {

    @media(min-width:728px){
      width:200px;
    }
    h3 {
      position:relative;
      font-size:23px;

      text-align: center;

      @media(min-width:728px){
        text-align: left;
      }
    }

    h3::after {
      content:'';
      width:100%;
      height:2px;

      background:rgb(78, 92, 218);

      position:absolute;
      bottom:-13px;
      left:0;
    }
    
    ul {
      margin-top:1em;
      li {
        
        padding:10px 1em;
        list-style-type:none;

        @media(min-width:728px){
          padding:10px 0em;
        }
      }
    }

    @media(min-width:728px){
      height:200px;
    }
  }

}