@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  position:relative;
  z-index:-100;
  color:white;
  font-family:'EB Garamond'
}
.overlay {
  display:block;
  z-index:-99;
  position:fixed;
  height:100vh;
  max-width:1920px;
}

.overlay > img {
    object-fit:fill;
    min-height:100vh;
    width:1100px;
    transform:scale(1);

    @media(min-width:600px){
      width:1400px;
    }
    @media(min-width:900px){
      width:1500px;
    }
    @media(min-width:1200px){
      width:1920px;
      transform:translate(0px, -100px);
    }
}

.main-header {
  position:absolute;
  display:flex; 
  width:100%;
  justify-content: end;
  align-items: center;
  padding:1em;
  
  h4 {
    text-transform:uppercase;
    letter-spacing:1px;
  }
}

.nav-btn-container {
  display:flex;
  align-items: center;
  gap:2em;

}

.nav-burger {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width:35px;
  height:35px;

  .nav-bar-design {
    background:white;
    width:100%;
    height:2px;
  }
}

.shadow {
  position:fixed;
  width:100%;
  height:100%;
  z-index:-98;
  background-color:black;
  opacity:.6;
}

section {
  z-index:1;
}

.hero {
  height:100vh;

  .hero-content-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;

    .text-box {
      max-width:950px;
    }
  }
}

.hero-content-box {
  .text-box {
    text-align: center;
    h1 {
      font-size:52px;
    }
    p {
      font-size:17px;
    }

    @media(min-width:600px){
      text-align: start;
      padding-left:2em;
      h1 {
        font-size:64px;
      }
      p {
        font-size:19px;
        inline-size: 580px;
      }
    }
    @media(min-width:1200px){
      padding-left:4em;
      h1 {
        font-size:74px;
      }
      p {
        font-size:25px;
        inline-size: 750px;
      }
    }

    @media(min-width:1500px){
      padding-left:10em;
    }
  }
}


.about {
  background:white;
  height:80vh;
}