@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
* {
  font-family: "Charm";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-content: center;
  background: #fff7df;
}

.main-content-container {
  min-height: 100vh;
}
.main-content-container .landing-page {
  display: grid;
}
.main-content-container .landing-page .landing-page-content-wrapper {
  display: grid;
}
.main-content-container .landing-page .landing-page-content-wrapper .landing-page-text-content {
  min-height: 320px;
  background-color: rgb(243, 203, 25);
}
.main-content-container .landing-page .landing-page-content-wrapper .landing-page-image-display-wrap {
  position: relative;
  min-height: 320px;
}
.main-content-container .store-section {
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1em 10px;
  height: auto;
}
.main-content-container .store-section .store-section-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-content-container .store-section .store-text {
  text-align: center;
  margin-bottom: 4em;
  position: relative;
  max-width: 650px;
}
.main-content-container .store-section .store-text:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: -15px;
  left: 0;
}
.main-content-container .store-section .store-text p {
  padding: 0em 4em;
}
.main-content-container .store-section .store-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2em 4em;
}

.store-item {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  box-shadow: 0px 0px 5px 2px rgba(85, 70, 5, 0.671);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.store-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.13);
}
.store-item .store-item-info {
  padding: 10px;
}
.store-item .store-item-info h3 {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  text-indent: 5px;
}

.landing-page-text-content {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  text-align: center;
}
.landing-page-text-content h2 {
  font-size: clamp(2rem, 1.6rem + 2vw, 3.75rem);
}
.landing-page-text-content p {
  font-size: clamp(1.125rem, 0.7344rem + 1.25vw, 1.4375rem);
  text-indent: 1px;
  margin-bottom: 1em;
}
.landing-page-text-content small {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.landing-page-image-display-wrap {
  position: relative;
  overflow: hidden;
}
.landing-page-image-display-wrap .landing-page-gallery {
  position: relative;
  height: 100%;
}
.landing-page-image-display-wrap .landing-page-gallery .landing-page-img {
  position: absolute;
  width: 100%;
  height: 150%;
  left: 0;
  top: 0;
  background: url("./display-assets/honey-yanibel-minaya-cruz-fPWxYxfBVYM-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 920px) {
  .main-content-container {
    max-width: 1920px;
  }
  .landing-page {
    height: 550px;
    grid-template-columns: auto;
    box-shadow: 0 4px 10px 3px rgba(12, 12, 12, 0.281);
  }
  .landing-page .landing-page-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "a b";
  }
  .landing-page-image-display-wrap {
    grid-area: "b";
  }
  .landing-page-text-content {
    grid-area: "a";
  }
  .landing-page-text-content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 3em 1em;
    gap: 3em;
  }
  .landing-page-text-content .text-box {
    display: flex;
    flex-direction: column;
    gap: 4em;
    height: 100%;
  }
  .landing-page-text-content h2 {
    font-size: clamp(2rem, 1.6rem + 2vw, 3.75rem);
    text-align: left;
    line-height: 55px;
    color: rgb(0, 0, 0);
  }
  .landing-page-text-content p {
    margin-top: 1em;
    text-indent: 2px;
    padding-bottom: 1em;
    white-space: pre-line;
    text-align: left;
  }
  .landing-page-text-content small {
    position: absolute;
    bottom: 5px;
    left: 10px;
  }
}
@media (max-width: 919px) {
  .landing-page-text-content {
    order: 2;
  }
  .landing-page-image-display-wrap {
    order: 1;
  }
}
.main-nav-display {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em 0em;
  margin-bottom: 5px;
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.082);
}
.main-nav-display .mobile-display {
  display: none;
}/*# sourceMappingURL=style.css.map */