@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");

* {
  font-family: "Charm";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff7df;
}
.main-content-container {
  min-height: 100vh;
  
  .main-nav-display {
    display:flex;
    align-items: center;
    justify-content:flex-start;
    gap:1em;
    padding:1em;
  }
}

.landing-page-text-content {
  grid-area: text-content;
  background-color:rgb(255, 225, 127);
}

.landing-page-image-container {
  grid-area: image-display;
  position:relative;
  overflow:hidden;

  width:100%;
  min-height:320px;
  
  .landing-page-image {
    left:0;
    right:0;
    position:absolute;
    img {
        object-fit: fill;
        width:150%;
        height:100%;
    }
  }

}

.landing-page-store-items {
  grid-area: store;
}

.landing-page-image-container, .landing-page-text-content {
    box-shadow: 0 4px 19px -1px rgba(66, 66, 66, 0.452);
}

@media (min-width: 920px) {
  .landing-page-content {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 0.8fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    gap: 30px 0px;
    grid-template-areas:
      "text-content image-display image-display"
      "text-content image-display image-display"
      "store store store";

      .landing-page-image-container {
        height:100%;
      }

  }
}


.landing-page-store-items {
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:2em;
    .store-text {
        text-align:center;
        max-width:440px;
        position:relative;

        &:before {
            content: '';
            width:100%;
            height:1px;
            background:black;
            position:absolute;
            bottom:-10px;
            left:0;
        }
    }
}